<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
    user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>

<!--搜索框-->
<div class="search">
    <a href="" class="classify"></a>
    <div class="searchs">
        <input type="text" placeholder="今日特惠">
    </div>
    <a href="" class="login">登录</a>
</div>


<div class="banner">
    <img src="../static/upload/banner.gif" alt="">
</div>


<div class="ad">
    <a href=""><img src="../static/upload/ad1.gif" alt=""></a>
    <a href=""><img src="../static/upload/ad2.gif" alt=""></a>
    <a href=""><img src="../static/upload/ad3.gif" alt=""></a>
</div>


<div class="nav">
    <ul>
        <li><a href="">爆款手机</a></li>
        <li><a href="">爆款手机</a></li>
        <li><a href="">爆款手机</a></li>
        <li><a href="">爆款手机</a></li>
        <li><a href="">爆款手机</a></li>
        <li><a href="">爆款手机</a></li>
        <li><a href="">爆款手机</a></li>
        <li><a href="">爆款手机</a></li>
        <li><a href="">爆款手机</a></li>
        <li><a href="">爆款手机</a></li>
    </ul>
    
</div>




</body>
</html>