<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <!--    标题-->
    <title>
        个人注册
    </title>
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/register.css">
</head>


<body>

<!--头部模块-->
<div class="w">
    <header>
        <a href="index.html">
            <img src="../static/images/logo.png" alt="">
        </a>
    </header>
    <div class="form">
        <div class="form-hd">
            <h4>注册新用户</h4>
            <div>我有账号，去<a href="#">登陆</a></div>
        </div>
        <div class="reg_form">
            <form action="index.html">
                <ul>
                    <li>
                        <label for="phone">手机号：</label>
                        <input type="text" placeholder="请输入手机号码" id="phone">
                        <!--                    <span class="success">手机号输入正确！</span>-->
                        <span class="error">手机号码格式不正确，请重新输入！</span>
                    </li>
                    <li>
                        <label for="sms">短信验证码：</label>
                        <input type="text" placeholder="请输入短信验证码" id="sms">
                        <span class="success">验证码输入正确！</span>
                        <!--                    <span class="error">验证码格式不正确，请重新输入！</span>-->
                    </li>
                    <li>
                        <label for="password">登录密码：</label>
                        <input type="password" placeholder="请输入密码" id="password">
                        <!--                    <span class="success">密码格式正确！</span>-->
                        <span class="error">密码码格式不正确，请重新输入！</span>
                    </li>
                    <li class="safe">
                        安全强度<em>弱</em><em>中</em><em>强</em>
                    </li>
                    <li>
                        <label for="repassword">确认密码：</label>
                        <input type="password" placeholder="请再次输入密码" id="repassword">
                        <span class="success">密码格式正确！</span>
                        <!--                    <span class="error">手机号码格式不正确，请重新输入！</span>-->
                    </li>
                    <li class="check">
                        <input type="checkbox">
                        同意协议并注册 <a href="#">《知晓用户协议》</a>
                    </li>
                    <button type="submit">完成注册</button>
                </ul>
            </form>
        </div>

    </div>

    <div class="mod_copyright">
        <div class="links">
            <a href="#">关于我们</a> | <a href="#">联系我们</a> | 联系客服 | 商家入驻 | 营销中心 | 手机品优购 | 友情链接 | 销售联盟 | 品优购社区 |
            品优购公益 | English Site | Contact U
        </div>
        <div class="copyright">
            地址：北京市昌平区建材城西路金燕龙办公楼一层 邮编：100096 电话：400-618-4000 传真：010-82935100 邮箱: zhanghj+itcast.cn <br>
            京ICP备08001421号京公网安备110108007702
        </div>
    </div>


</div>

</body>
</html>