<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no,
    initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <title>京东</title>
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>


<header class="app">
    <ul>
        <li><img src="../static/img/close.png" alt=""></li>
        <li><img src="../static/img/logo.png" alt=""></li>
        <li>打开京东App，购物更轻松</li>
        <li>立即打开</li>
    </ul>
</header>


<div class="search">
    <div class="search-btn"></div>
    <div class="search-search">
        <div class="sou"></div>
        <input type="text">
    </div>
    <div class="search-login">登录</div>
</div>


<div class="main">

    <div class="swiper">
        <img src="../static/upload/banner.dpg" alt="">
    </div>

    <div class="brand">
        <div><a href=""><img src="../static/upload/pic11.dpg" alt=""></a></div>
        <div><a href=""><img src="../static/upload/pic22.dpg" alt=""></a></div>
        <div><a href=""><img src="../static/upload/pic33.dpg" alt=""></a></div>
    </div>

    <div class="nav">
        <a href=""><img src="../static/upload/nav1.webp" alt=""><span>京东超市</span></a>
        <a href=""><img src="../static/upload/nav2.webp" alt=""><span>全球购</span></a>
        <a href=""><img src="../static/upload/nav3.webp" alt=""><span>给我充！</span></a>
        <a href=""><img src="../static/upload/nav3.webp" alt=""><span>给我充！</span></a>
        <a href=""><img src="../static/upload/nav3.webp" alt=""><span>给我充！</span></a>
        <a href=""><img src="../static/upload/nav3.webp" alt=""><span>给我充！</span></a>
        <a href=""><img src="../static/upload/nav3.webp" alt=""><span>给我充！</span></a>
        <a href=""><img src="../static/upload/nav3.webp" alt=""><span>给我充！</span></a>
        <a href=""><img src="../static/upload/nav3.webp" alt=""><span>给我充！</span></a>
        <a href=""><img src="../static/upload/nav3.webp" alt=""><span>给我充！</span></a>
    </div>

    <div class="news">
        <a href=""><img src="../static/upload/new1.dpg" alt=""></a>
        <a href=""><img src="../static/upload/new2.dpg" alt=""></a>
        <a href=""><img src="../static/upload/new3.dpg" alt=""></a>
    </div>
</div>

</body>
</html>